# Node / Next
**/node_modules/
**/.next/
**/out/
**/.vercel/

# Python
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.python-version

# Build/Dist/Coverage
**/dist/
**/build/
**/coverage/

# OS/Editor
.DS_Store
.idea/
.vscode/
.DS_Store
